*.[oa]
dist/install
.config
xen/arch/arm/xen.lds
xen/arch/arm/xen.map
xen/include/asm
xen/include/asm-arm/arch
xen/include/asm-arm/asm-offsets.h
xen/include/xen/acm_policy.h
xen/include/xen/autoconf.h
xen/include/xen/banner.h
xen/include/xen/compile.h
xen/scripts/kconfig/mconf
xen/scripts/kconfig/zconf.tab.c
xen/tools/figlet/figlet
xen/tools/symbols
xen/xen
xen/xen-bin
xen/xen-syms
xen/xen.gz
