menu "Security Support"
config VMM_SECURITY
	bool "Security support"
	default n

	config VMM_SECURITY_ACM
	bool  "Access control module"
	depends on VMM_SECURITY
	
		config SUBSTITUTE_IS_PRIV
		bool "Substitute IS_PRIV()"
		depends on VMM_SECURITY_ACM
		default n

	config VMM_SECURITY_SCID
	bool "Use SCID to identify VM"
	depends on VMM_SECURITY

	config VMM_SECURITY_IMAGE_VERIFICATION
	bool "Verify VM images"
	depends on VMM_SECURITY


endmenu
